DATABASE_URL="file:./dev.db"

DASHBOARD_USERNAME="admin"
DASHBOARD_PASSWORD="troque-esta-senha"
AUTH_SECRET="gere-uma-string-longa-e-aleatoria"

NEXT_PUBLIC_SITE_URL="http://localhost:3000"

RESEND_API_KEY=""
RESEND_FROM_EMAIL="Venue Eventos <reservas@seudominio.com.br>"

WHATSAPP_PHONE="5561999999999"
WHATSAPP_WEBHOOK_URL=""
CALLMEBOT_API_KEY=""
